/* body {
  display: flex;
  text-align: center;
}
 */
header {
  font-family: sans-serif, Arial, 'Helvetica', 'calibiri';
  text-align: center;
}

/* Debits */

.header-debits {
  color: red;
  font-size: 36px;
  text-align: center;
}

.header-credits {
  color: green;
  font-size: 36px;
  text-align: center;
}

.symbol {
  padding: 0px 50px;
}
